<!-- views/home.ejs -->

<!DOCTYPE html>
<html>
<head>
    <title>Share Editor</title>
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>

<body>
<xmp id = "code"><title></xmp>
<p id = "title">Share Editor</p>
<p id = "sub-title">- share and collaborate your code</p>
<img id= "title-img" src = "mouse-1412284.svg">

</body>
</html>
